* {
  background-color: #212321;
  color: rgb(221, 220, 220);
  font-family: arial,sans-serif;
}

html, body{
  background-color: black;
}

#root{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px 5px 200px rgb(57, 14, 149);
  height: 90%;
  min-height: 700px;
  margin: 0 auto;
  /* padding: 0 10px; */
  width: 80%;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 90%;
  padding: 0;
}

.container ol {
  padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
}

.header h2 {
  font-size: 1.7rem;
  margin-bottom: 0;
  background: linear-gradient(rgb(221, 220, 220),rgb(57, 14, 149));
  -webkit-background-clip: text;
  color: transparent;
}

.header p {
  border-bottom: 1px solid rgb(255, 252, 252);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0;
} 

input{
  background-color: #3e3f3e;
  border-radius: 25px;
  color: rgb(221, 220, 220);
  font-size: 1.2rem;
  padding: 0;
  padding-left: 15px;
  width: 96%;
  outline: none;
  border: 0;
}

input:hover {
  box-shadow: -5px 5px 10px rgb(57, 14, 149);
}

.text-result {
  overflow: hidden;
}

.text-no-result {
  border-bottom: 1px solid red;
  color: red;
  font-size: 1.3rem;
  font-weight: 1.8rem;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 2px solid #5a5a5a;
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  height: 220px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  overflow: hidden;
  width: 300px;
}

.card p {
  padding: 5px;
  text-align: center;
  margin-bottom: 0px auto;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card img {
  height: 100%;
  margin: 0 auto;
  max-height: 170px;
  object-fit: cover;
  object-position: auto;
  width: 100%;
}

@media screen and (max-width: 500px){
  #root{
    width: 100%;
  }
  .header {
      height: auto;
      flex-direction: column;
      justify-content: center;  
  }
  .header p {
    margin:  16px auto;
  }
  input { 
      padding-right: 15px;
      width: 90%;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}